* {
	margin: 0;
	padding: 0;
}

#wrapper {
    margin: auto;
    width: 50%;
    border: 1px solid green;
	overflow: auto
}

#header {
    float: center;
    width: 100%;
}

#button {
	background-color: #008CBA;
	color: white;
	padding: 10px 24px;
    float: Right;
    width: 100px;
	text-align: Center;
	cursor: pointer;
}

#banner {
	width: 100%;
	height: 250px;
	background-color: #000000;
	float: left;
}

#body{
	float: left;
}