/*Global*/
body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color:#f4f4f4
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.bcontainer{
  margin-top: 100px;
  width: 40%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 100px;
}
#pagetopper{
  margin-top: 100px;
  align-items: center;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

/*Header*/
header {
    background-color:#506077;
    color:#ffffff;
    padding-top:25px;
    min-height:70px;
    border-bottom:#F75F14 3px solid;
}

header a{
  padding-bottom: 30px;
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  colour:#cccccc;
  font-weight: bold;
}

/* Reports Table */
tr:hover {
  background-color: #E8A18E
}
td.booked {
  background-color: #E8A18E
}



th, td{
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


/* Showcase */
#showcase{
  min-height: 200px;
  background: url('img/showcase.jpg') no-repeat 0px -200px;
  text-align: center;
  color: #ffffff;
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
  color: #ffffff;
  border: 0;
}

#showcase p{
  font-size: 20px;
}

#howto{
  padding: 15px;
  color: #ffffff;
  background: #506077;
}

#howto h1{
  float: left;
}

#howto form{
  float: right;
  padding-top: 20px;
  height: 50px;
}

#howto input[type="email"]{
  height: 38px;
  border: 0;
  text-align: center;
}

.Logo {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    margin: center;
}

.left {
  float: left;
  width: 25%;
  height: auto;
  border-radius: 25px;
  border: 4px solid #e8491d;
  padding: 15px;
}


.Logout {
    float: right;
    margin: 10px;
}

.button1{
  height: 38px;
  background: #e8491d;
  border:0;
  padding-left:20;
  padding-right:20;
  color:#ffffff;

}

#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#boxes .box img{
  width: 190px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#boxes p{
  font-weight: normal;
}
.whitespace{
  padding: 15px;
}
.center {
  margin: auto;
  width: 25%;
  border-radius: 25px;
  border: 4px solid #e8491d;
  padding: 20px;
}
.center-wide {
  margin: auto;
  width: 50%;
  border-radius: 25px;
  border: 4px solid #e8491d;
  padding: 20px;
}
.center2 {
  margin: auto;
  width: 50%;
  border-radius: 25px;
  border: 4px solid #e8491d;
  padding: 20px;
}




input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #e8491d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer{
  padding: 20px;
  opacity:0.3;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}

table.table {
  border: 3px solid #E8491D;
  background-color: #FAFAFA;
  border-radius:6px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}



table.table thead {
  background: #E8491D;
  background: -moz-linear-gradient(top, #ee7655 0%, #ea5b33 66%, #E8491D 100%);
  background: -webkit-linear-gradient(top, #ee7655 0%, #ea5b33 66%, #E8491D 100%);
  background: linear-gradient(to bottom, #ee7655 0%, #ea5b33 66%, #E8491D 100%);
  border-bottom: 2px solid #FFFFFF;
}
table.table th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 2px solid #FFFFFF;
}

th {
  background: linear-gradient(to bottom, #e8491d 0%, #ff6666 100%);
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 2px solid #FFFFFF;
}
table.table thead th:first-child {
  border-left: none;
}

table.table tfoot {
  font-size: 14px;
  font-weight: normal;
  color: #FFFFFF;
  background: #F5F5F5;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #f6f6f6 66%, #F5F5F5 100%);
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #f6f6f6 66%, #F5F5F5 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%, #f6f6f6 66%, #F5F5F5 100%);
  border-top: 1px solid #E8491D;
}
table.table tfoot td {
  font-size: 14px;
}
table.table tfoot .links {
  text-align: right;
}
table.table tfoot .links a{
  display: inline-block;
  background: #E8491D;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}


.btn {
  background: #f76239;
  background-image: -webkit-linear-gradient(top, #f76239, #E8491D);
  background-image: -moz-linear-gradient(top, #f76239, #E8491D);
  background-image: -ms-linear-gradient(top, #f76239, #E8491D);
  background-image: -o-linear-gradient(top, #f76239, #E8491D);
  background-image: linear-gradient(to bottom, #f76239, #E8491D);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #de0000;
  text-decoration: none;
}

input[type=submit] {
  background: #f76239;
  background-image: -webkit-linear-gradient(top, #f76239, #E8491D);
  background-image: -moz-linear-gradient(top, #f76239, #E8491D);
  background-image: -ms-linear-gradient(top, #f76239, #E8491D);
  background-image: -o-linear-gradient(top, #f76239, #E8491D);
  background-image: linear-gradient(to bottom, #f76239, #E8491D);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button[type=submit] {
  background: #f76239;
  background-image: -webkit-linear-gradient(top, #f76239, #E8491D);
  background-image: -moz-linear-gradient(top, #f76239, #E8491D);
  background-image: -ms-linear-gradient(top, #f76239, #E8491D);
  background-image: -o-linear-gradient(top, #f76239, #E8491D);
  background-image: linear-gradient(to bottom, #f76239, #E8491D);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 12px;
  padding: 2px 4px 2px 4px;
  text-decoration: none;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
